/**** styling for all pages ****/
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

h2{
    font-size: 3em;
    color: #44d9e6;
    font-weight: 700;
    line-height: 1em;
}

a{
    text-decoration: none;
}

h3{
    color: #4488E6;
    font-size: 2.5em;
    margin: 15px;
}

main{
    padding: 20px;
}

/*** forms and inputs ***/
input{
    font-size: 1.5em;
}

button{
    background-color: #44E6A2;
    border: none;
    color: #333333cf;
    font-size: 1.4em;
    cursor: pointer;
    margin: 6px 0px;
    padding: 15px 30px;
    font-weight: bold;
    border-radius: 6px;
}

button:hover{
    transform: scale(1.05);
    transition: all .2s ease-in-out;
    background-color: #19be79;
}

header{
    text-align: center;
}

/**** footer styles ****/
footer{
    background-color: #44d9e6; 
    position: fixed;
    bottom: 0px;
    padding: 7px;
    width: 100%;
}

footer a{
    color: #333333;
    transition: all .2s ease-in-out;
    padding: 15px 0px 0px 20px;
}

footer a:hover{
    color: #000000;
    text-decoration: underline;
}

/**** styling for intro page ****/
.homepage{
    display: block;
    margin: auto;
    width: 80%;
    margin-bottom: 80px;
    padding-top: 100px;
}

.intro__text p{
    text-align: center;
    font-size: 1.5em;
    padding: 40px 30px 10px 30px;
    font-weight: 300;
    color: #333333;
}

.two__buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description__text{
    text-align: center;
}

.description__text p, .description__text ul{
    font-size: 1.5em;
    margin: 10px;
    color: #333333e6;
}

.description__text ul{
    list-style: none;
}

/**** styling for issues listing page ****/
.header__issues{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}

.search__text {
    padding: 10px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

.search__button {
    float: left;
    width: 20%;
    margin-top: 0px;
    padding: 10px 0px 14px 0px;
    background: #44E6A2;
    border-left: none; 
    cursor: pointer;
  }

table {
    border-collapse: collapse;
    border-top: 1px solid black;
    margin-top: 15px;
}

tr{
    border-bottom: 1px solid #eff0f2;
}

td{ 
    padding: 15px;
}

/*** hide elements ***/
.hidden{
    display: none;
}

/*** styling for login and issue form ***/
#login-form, #issue-form{
    border: 1px solid darkgrey;
    padding: 40px;
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: white;
}

#login-form p, #issue-form p{
    display: block;
    margin: 5px;
}

#login-form label, #issue-form label{
    margin: 10px;
    display: block;
}

#login-form input[type=text], #login-form input[type=password], #issue-form input[type=text], #issue-form textarea{
    width: 270px;
}

#login-form input[type=submit], #issue-form input[type=submit]{
    width: 120px;
    margin-left: 10px;
    cursor: pointer;
}

.form-button{
    display: block;
    width: 270px;
    margin-left: 10px;
    margin-bottom: 8px;
    cursor: pointer;
}

.close{
    border: none;
    top: 0;
    right: 0;
    position: absolute;
    font-size: 1.25em;
}

.close:hover{
    cursor: pointer;
    color: darkgrey;
}

@media only screen and (min-width: 800px){
    .homepage{
        padding-top: 150px;
        width: 60%;
    }
}

@media only screen and (min-width: 1000px){
    .header__issues{
        flex-direction: row;
        justify-content: space-around;
    }

    .homepage{
        padding-top: 180px;
        width: 60%;
    }

    .issue__list{
        width: 70%;
        margin: auto;
    }

    .two__buttons{
        flex-direction: row;
        justify-content: space-evenly;
    }

    button{
        width: 300px;
    }

    #login-form{
        width: 50%;
    }

    #login-form input[type=text], #login-form input[type=password]{
        width: 300px;
    }
}
